.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e7e7;
  max-width: 1366px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-weight: bold;

}



.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .logo {
  font-size: 40px;
  color: red;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar .logo::after {
  content: "IFY";
  color: black;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.navbar-links li {
  position: relative;
  margin-right: 50px;
}

.menu-button {
  display: none;
  cursor: pointer;
  font-size: 30px;
  background: none;
  border: none;
  color: black;
  padding: 10px;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-button {
  margin-left: auto;
}

@media (max-width: 768px) {
  .logo-container {
    justify-content: space-between;
  }

  .menu-button {
    display: flex;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .navbar-links li {
    text-align: center;
    margin: 10px 0;
  }

  .menu-toggle:checked + .navbar-links {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  width: auto;
}

.dropdown-content li a {
  padding: 12px 16px;
  display: block;
  text-align: center;
  white-space: nowrap;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .dropdown:hover .dropdown-content {
    display: none;
  }

  .dropdown:focus-within .dropdown-content {
    display: block;
  }
}

.navbar img {
  text-align: center;
  width: 24px; /* Ancho deseado */
  height: auto; /* Altura automática para mantener la proporción */
  margin: 0 auto;
}

.dropdown-content li {
  padding: 10px;
  cursor: pointer;
  display: flex; /* Usa flexbox */
  align-items: center; /* Centra verticalmente el contenido */
}

.dropdown-content li img {
  margin-right: 5px; /* Espacio entre la imagen y el texto */
}
