<nav class="navbar">
  <div class="logo-container">
    <a routerLink="/" class="logo">HSK</a>

    <label for="nav-toggle" class="menu-button">
      <mat-icon>menu</mat-icon>
    </label>
  </div>
  <input type="checkbox" id="nav-toggle" class="menu-toggle" style="display:none;"/>
  <ul class="navbar-links">
    <li><a routerLink="/">{{'HEADER.HOME' | translate}}</a></li>
    <li class="dropdown">
      <a routerLink="/learn">{{'HEADER.LEARN' | translate}}</a>
      <ul class="dropdown-content">
        <li><a routerLink="/grammar">{{'HEADER.GRAMMAR' | translate}}</a></li>
        <li><a routerLink="/vocabulary">{{'HEADER.VOCABULARY' | translate}}</a></li>
      </ul>
    </li>
    <li><a routerLink="/memory-game">{{'HEADER.PRACTICE' | translate}}</a></li>
    <li><a routerLink="/profile">{{'HEADER.PROFILE' | translate}}</a></li>
    <li class="dropdown">
      <a class="dropbtn">{{'HEADER.LANGUAGE' | translate}}</a>
      <ul class="dropdown-content">
        <li (click)="switchLanguage('en')">
          <img src="assets/flags/en.png" alt="English">
        </li>
        <li (click)="switchLanguage('es')">
          <img src="assets/flags/es.png" alt="Español">
        </li>
        <li (click)="switchLanguage('ca')">
          <img src="assets/flags/ca.png" alt="Català">
        </li>
      </ul>
    </li>


  </ul>
</nav>
