<nav class="navbar">
  <div class="logo-container">
    <a routerLink="/" class="logo">HSK</a>

    <label for="nav-toggle" class="menu-button">
      <fa-icon [icon]="faBars"></fa-icon>
    </label>
  </div>
  <input type="checkbox" id="nav-toggle" class="menu-toggle" style="display:none;"/>
  <ul class="navbar-links">
    <li><a routerLink="/">HOME</a></li>
    <li class="dropdown">
      <a routerLink="/learn">LEARN</a>
      <ul class="dropdown-content">
        <li><a routerLink="/learn/grammar">GRAMMAR</a></li>
        <li><a routerLink="/learn/vocabulary">VOCABULARY</a></li>
      </ul>
    </li>
    <li><a routerLink="/practice">PRACTICE</a></li>
    <li><a routerLink="/profile">PROFILE</a></li>
  </ul>
</nav>
