
.voc-container {
  font-family: Arial, sans-serif;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
}

.flashcards-container {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.card-style{
  max-width: 200px;
  background-color: #d8d8d8;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
  margin-right: 30px;
  flex: 0 0 calc(20% - 30px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
}

.card-header-style {
  background-color: #bdbdbd;
  padding: 10px 0;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-card-title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.mat-card-content p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.card-style {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-style:hover {
  transform: translateY(-5px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.hanzi {
  font-size: 40px;
}

.paginator{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: baseline;
}
.paginator mat-icon {
  font-size: 30px;
  margin: 0 20px;
}

.oculto {
  display:none;
}

@media (max-width: 767px) {
  .card-style {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0 0 20px;
  }
}

