<section class="home-container">
  <header class="header">
    <div class="logo">
      <img src="assets/logo.webp" alt="HSKify Logo">
    </div>
    <div class="word-of-the-day">
      <h1>{{wordOfDay?.hanzi}}</h1>
      <p>{{wordOfDay?.pinyin}}</p>
    </div>
  </header>
  <div class="intro-text">
    <p>Bienvenido a HSKify<br>Tu puente hacia el dominio del chino. Cada día, un nuevo carácter te espera para explorar su significado, pronunciación y uso. Comienza tu viaje hacia la fluidez y éxito en el HSK con nosotros.</p>
  </div>
  <section class="options">
    <article class="option">
      <div class="icon"></div>
      <p>VOCABULARIO</p>
    </article>
    <article class="option">
      <div class="icon"></div>
      <p>GRAMÁTICA</p>
    </article>
    <article class="option">
      <div class="icon"></div>
      <p>EJERCICIOS</p>
    </article>
    <article class="option">
      <div class="icon"></div>
      <p>OTRO</p>
    </article>
  </section>
</section>
