.home-container {
  font-family: Arial, sans-serif;
  max-width: 1366px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  font-weight: bold;

}

.left-side{
  margin: 15px 50px;
  flex: 50%;
}

.right-side {
  margin: 15px 50px;
}
.logo img {
  width: 150px;
}

.word-of-the-day p {
  text-align: center;
}

.intro-text p {
  text-align: left;
  margin-bottom: 30px;
}

.options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.option {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.option .icon {
  background-color: #ccc;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
}

.hanzi {
  font-size: 150px; 
  margin: 0;
}

h2 {
  text-align: center;
}