<section class="home-container">

  <section class="header">

    <div class="left-side">
      <div class="logo">
        <img src="assets/logo.webp" alt="HSKify Logo">
      </div>
      <div class="intro-text">
        <p>Bienvenido a HSKify<br>Tu puente hacia el dominio del chino. Cada día, un nuevo carácter te espera para explorar su significado, pronunciación y uso. Comienza tu viaje hacia la fluidez y éxito en el HSK con nosotros.</p>
      </div>
    </div>

    <div class="right-side">
      <div class="word-of-the-day">
        <h2>WORD OF THE DAY</h2>
        <p class="hanzi">{{wordOfDay?.hanzi}}</p>
        <p class="pinyin">{{wordOfDay?.pinyin?.toUpperCase()}}</p>

      </div>
    </div>


  </section>



  <section class="options">
    <article class="option">
      <div class="icon"><img src="assets/vocabulary.webp" alt="image for vocabulary option"></div>
      <p>VOCABULARY</p>
    </article>
    <article class="option">
      <div class="icon"><img src="assets/grammar.jpg" alt="image for grammar option"></div>
      <p>GRAMMAR</p>
    </article>
    <article class="option">
      <div class="icon"><img src="assets/memory.png" alt="image for memory game option"></div>
      <p>MEMORY GAME</p>
    </article>
    <article class="option">
      <div class="icon"></div>
      <p>OTHER</p>
    </article>
  </section>

</section>
