<section class="home-container">

  <section class="header">

    <div class="left-side">
      <div class="logo">
        <img src="assets/logo.webp" alt="HSKify Logo">
      </div>
      <div class="intro-text">
        <p>{{"HOME.WELCOME" | translate}}</p>
        <p>{{"HOME.WELCOME-MESSAGE" | translate}}</p>
      </div>
    </div>

    <div class="right-side">
      <div class="word-of-the-day">
        <h2>{{"HOME.DAILY-WORD" | translate}}</h2>
        <p class="hanzi">{{wordOfDay.hanzi}}</p>
        <p class="pinyin">{{wordOfDay.pinyin.toUpperCase()}}</p>

      </div>
    </div>


  </section>



  <section class="options">
    <article class="option" routerLink="/vocabulary">
      <div class="icon"><img src="assets/vocabulary.webp" alt="image for vocabulary option"></div>
      <p>{{"HOME.OPTIONS.VOCABULARY" | translate}}</p>
    </article>
    <article class="option">
      <div class="icon"><img src="assets/grammar.jpg" alt="image for grammar option"></div>
      <p>{{"HOME.OPTIONS.GRAMMAR" | translate}}</p>
    </article>
    <article class="option" routerLink="/memory-game">
      <div class="icon"><img src="assets/memory.png" alt="image for memory game option"></div>
      <p>{{"HOME.OPTIONS.MEMORY-GAME" | translate}}</p>
    </article>
    <article class="option">
      <div class="icon"></div>
      <p>{{"HOME.OPTIONS.OTHER" | translate}}</p>
    </article>
  </section>

</section>
