<div class="container">
  <h1>{{ "PROFILE.LEARNED_WORDS.TITLE" | translate}}</h1>
  <div class="legend">
    <p><b>{{ "PROFILE.LEARNED_WORDS.LEGEND_TITLE" | translate}}</b></p>
    <ul>
      <li>{{ "PROFILE.LEARNED_WORDS.LEGEND_OPT1" | translate}}</li>
      <li>{{ "PROFILE.LEARNED_WORDS.LEGEND_OPT2" | translate}}</li>
      <li>{{ "PROFILE.LEARNED_WORDS.LEGEND_OPT3" | translate}}</li>
      <li>{{ "PROFILE.LEARNED_WORDS.LEGEND_OPT4" | translate}}</li>
    </ul>
  </div>
  <section class="word-list">
    @for (word of favWords; track word) {
      <div class="word-card">
        <h2 [style.color]="getStrokeColor(parseInt(word.stroke_count))">{{ word.hanzi }}</h2>
        <p>{{ word.pinyin }} ({{ word.stroke_count }} {{ "PROFILE.LEARNED_WORDS.STROKES" | translate}})</p>
        <p>{{ truncateDefinition(word.translation) }}</p>
      </div>
    }
  </section>
</div>
