<body class="container">
  <div id="wrapper" class="wrapper hide">
    <div class="stats-container">
      <div id="moves-count"></div>
      <div id="time"></div>
      
    </div>
    <div class="game-container"></div>
    <button id="stop" class="hide">Stop Game</button>
  </div>
  <div class="controls-container">
    <div class="mode-buttons">
      <button id="hanzi-hanzi" (click)="selectMode2($event)">hanzi-hanzi</button>
      <button id="hanzi-pinyin" (click)="selectMode2($event)">hanzi-pinyin</button>
      <button id="hanzi-trans" (click)="selectMode2($event)">hanzi-trans</button>
      <button id="easy" (click)="selectMode($event)">Easy Game Mode</button>
      <button id="medium" (click)="selectMode($event)">Medium Game Mode</button>
      <button id="hard" (click)="selectMode($event)">Hard Game Mode</button>
    </div>
    <p id="result"></p>
    <div id="score"></div>
    <button id="start" [disabled]="!gameMode">Start Game</button>

  </div>
</body>
