<section class="profile-container">
  <div class="col-left">
    <div class="logout-container">
      <img src="./assets/logout.png" alt="logout icon" class="logout-icon" (click)="logout()">
    </div>
    <div class="usr-image">
      <img src="{{user_info.imageURL}}" alt="image of user profile">
    </div>
    <div class="usr-name">
      <h3>{{ user_info.name }}</h3>
    </div>
    <div class="usr-followes">
      <a href="">{{ "PROFILE.SIDE_INFO.FOLLOWERS" | translate}} 100</a>
    </div>
    <div class="usr-controls">
      <button>Follow</button>
    </div>
    <div class="list-info">
      <ul>
        <li>
          <div class="img"><img src="./assets/location.png" alt=""></div>
          Valencia, Spain
        </li>
        <li>
          <div class="img"><img src="./assets/calendar.png" alt=""></div>
          {{ "PROFILE.SIDE_INFO.DATE" | translate}} {{ user_info.registration_date | date: 'dd-MM-yyyy'}}
        </li>
        <li routerLink="learned-words">
          <div class="img"><img src="./assets/fav.png" alt=""></div>
          {{ "PROFILE.SIDE_INFO.LEARNED_WORDS" | translate}}
        </li>
        <li routerLink="achievements">
          <div class="img"><img src="./assets/achievement.png" alt=""></div>
          {{ "PROFILE.SIDE_INFO.ACHIEVEMENTS" | translate}}
        </li>
        <li routerLink="leaderboard">
          <div class="img"><img src="./assets/leaderboard.png" alt=""></div>
          {{ "PROFILE.SIDE_INFO.LEADERBOARD" | translate}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-right">
    <router-outlet></router-outlet>
  </div>
</section>
