<div class="leaderboard-container">
  <h2>{{ "PROFILE.LEADERBOARD.TABLE" | translate }}</h2>
  <div class="filter-container">
    <label for="parameterFilter">{{ "PROFILE.LEADERBOARD.FILTER_MODE" | translate }}:</label>
    <select id="parameterFilter" [(ngModel)]="selectedParameter" (change)="filterLeaderboard()">
      <option value="all">{{ "PROFILE.LEADERBOARD.OPTION_ALL" | translate }}</option>
      <option value="hanzi-hanzi">{{ "PROFILE.LEADERBOARD.OPTION_HH" | translate }}</option>
      <option value="hanzi-pinyin">{{ "PROFILE.LEADERBOARD.OPTION_HP" | translate }}</option>
      <option value="hanzi-translation">{{ "PROFILE.LEADERBOARD.OPTION_HT" | translate }}</option>
    </select>
  </div>
  <table>
    <thead>
    <tr>
      <th>{{ "PROFILE.LEADERBOARD.USER" | translate }}</th>
      <th>{{ "PROFILE.LEADERBOARD.SCORE" | translate }}</th>
      <th>{{ "PROFILE.LEADERBOARD.DIFFICULTY" | translate }}</th>
      <th>{{ "PROFILE.LEADERBOARD.PARAMETER" | translate }}</th>
    </tr>
    </thead>
    <tbody>
    @for (score of filteredLeaderboard; track score) {
      <tr>
        <td>{{ score.user_name }}</td>
        <td>{{ score.score }}</td>
        <td>{{ score.difficulty }}</td>
        <td>{{ score.parameters }}</td>
      </tr>
    }

    </tbody>
  </table>
</div>
